<h1> Enseignants </h1>

<h3> Tout les enseignants </h3>

@if (messageErreurListProf) {
<p> {{ messageErreurListProf }}</p>
}

<div *ngFor="let ens of listEnseignant">

    
    {{ens.id}} {{ens.nom}} {{ens.prenom}} {{ens.email}} 
    
    <strong>Tags : </strong>
    
    <span *ngFor="let tag of ens.tags">{{ tag.nomTag }}</span>

    {{ens.nbUe}} {{ens.nbReferent}} {{ens.totalCm}} {{ens.totalTp}} {{ens.totalTd}}


</div>

<div>

    <h3> Post pour création enseignant</h3>

    <form [formGroup]="enseignantForm" (ngSubmit)="createEnseignant()">


        <label>Prénom :</label>
        <input type="text" formControlName="prenom" placeholder="prenom">

        <label>Nom :</label>
        <input type="text" formControlName="nom" placeholder="nom">

        <label>Email :</label>
        <input type="text" formControlName="email" placeholder="email">

        <label>Tags (maintenir Ctrl pour plusieurs) :</label>

            <select formControlName="tagIds" multiple>
                
                <option *ngFor="let t of tagDispo" [ngValue]="t.id"> 

                {{ t.nomTag }}

                </option>

            </select>

    @if (messageErreurCreation) {

        <p> {{ messageErreurCreation }} </p>
    }

    <button type="submit" [disabled]="enseignantForm.invalid">
      Enregistrer l'enseignant
    </button>

    </form>

</div>

