<h1> Enseignants </h1>

<h3> Tout les enseignants </h3>

@if (messageErreurListProf) {
<p> {{ messageErreurListProf }}</p>
}

<div *ngFor="let ens of listEnseignant">


    {{ens.id}} {{ens.nom}} {{ens.prenom}} {{ens.email}}

    <strong>Tags : </strong>

    <span *ngFor="let tag of ens.tags">{{ tag.nomTag }}</span>

    {{ens.nbUe}} {{ens.nbReferent}} {{ens.totalCm}} {{ens.totalTp}} {{ens.totalTd}}

    <button (click)="deleteEnseignantById(ens.id)">Supprimer</button>

    <button (click)="enseignantAModifier(ens)">Modifier</button>


</div>

<div>

    <h3> Post pour création enseignant</h3>

    <form [formGroup]="enseignantForm" (ngSubmit)="idEnseignantAModif ? modifEnseignantById() : createEnseignant() ">


        <label>Prénom :</label>
        <input type="text" formControlName="prenom" placeholder="prenom">

        <label>Nom :</label>
        <input type="text" formControlName="nom" placeholder="nom">

        <label>Email :</label>
        <input type="text" formControlName="email" placeholder="email">

        <label>Tags (maintenir Ctrl pour plusieurs) :</label>

        <select formControlName="tagIds" multiple>

            <option *ngFor="let t of tagDispo" [ngValue]="t.id">

                {{ t.nomTag }}

            </option>

        </select>


        <button type="submit" [disabled]="enseignantForm.invalid">
            {{ idEnseignantAModif ? 'Modifier' : 'Créer'}}
        </button>

        @if (messageErreurCreation) {

        <p> {{ messageErreurCreation }} </p>
        
        }

    </form>

</div>


<div>
  <h3>Get professeur par nom prénom</h3>

  <label>Chercher par nom prénom :</label>
  <input type="text" #inputNomPrenom>

  <button (click)="rechercherEnseignantByNom(inputNomPrenom.value)">
    Rechercher
  </button>
</div>

@if (rechercheEffectuee) {
  @for (enseignant of enseignantSelectionne; track enseignant.id) {
    <p>{{ enseignant.nom }} {{ enseignant.prenom }} {{ enseignant.id }}</p>
  } @empty {
    <p>Aucun professeur correspondant</p>
  }
}
