<h1>Gestion des Tags</h1>

@if (messageSucces) {

<p class="message-succes"> {{ messageSucces }}</p>

}


<div class="tout-tag">

    <h2>Get tout les tags</h2>

    @if (messageErreurDelete) {

    <p class="message-erreur"> {{ messageErreurDelete }}</p>

    }

    @if (messageErreurModif) {

    <p class="message-erreur"> {{ messageErreurModif }}</p>

    }

    <div *ngFor="let tag of listTags">

        {{tag.id}} {{tag.nomTag}} {{tag.couleur}}
        <button (click)="deleteTagById(tag.id)">Supprimer</button>

        <input type="text" #nomInput [value]="tag.nomTag"> <!-- champ de text intialisé avec nom du tag courant -->

        <input type="color" #couleurInput [value]="tag.couleur">
        <!-- champ de text intialisé avec couleur du tag courant -->

        <button (click)="modifierTagById(tag.id, nomInput.value, couleurInput.value)">Modifier</button>
        <!-- quand on clique on appelle modifierTagById avec l'id du tag et les valeurs actuelles des inputs -->



    </div>

</div>

<div class="chercher-tag">

    <h2>Get tag par id</h2>

    <label>Chercher par ID :</label>

    <input type="number" #idInput id="idTag"> <!-- #idInput permet de récupérer sa valeur au moment du clique -->

    <button (click)="tagById(+idInput.value)">Rechercher</button>
    <!-- au clique on récupère la valeur tapée / convertit en number avec + puis on appel la fonction tagbyid()-->

    @if (messageErreurRecherche) {

    <p class="message-erreur"> {{ messageErreurRecherche }}</p>

    }

</div>

@if (tagSelectionne){

<p> {{ tagSelectionne.nomTag }} {{ tagSelectionne.couleur }} {{ tagSelectionne.id }} </p>

}



<div class="creer-tag">

    <h2>Post pour création de tag</h2>

    <form [formGroup]="tagForm" (ngSubmit)="createTag()">

        <input type="text" formControlName="nomTag" placeholder="nom du tag">

        <input type="color" formControlName="couleur">

        @if (messageErreurCreation) {

        <p class="message-erreur"> {{ messageErreurCreation }}</p>

        }

        <button type="submit" [disabled]="tagForm.invalid">Créer</button>

    </form>


</div>