<nav class="navbar">

    <div class="nav-logo">
        <img src="logo.png" alt="logo" class="logo-icon">
        <span class="logo-text">GestMaquette</span>
    </div>

    <ul>

        <li><a routerLink="/uniteEnseignement" routerLinkActive="active">Unité d'enseignement</a></li>
        <li><a routerLink="/maquettes" routerLinkActive="active">Maquettes</a></li>
        <li><a routerLink="/enseignants" routerLinkActive="active">Enseignants</a></li>
        <li><a routerLink="/gestionTags" routerLinkActive="active">Gestion Tags</a></li>
        <li><a routerLink="/parametres" routerLinkActive="active">Paramètres</a></li>

    </ul>

</nav>