<nav class="navbar">

    <div class="nav-logo">
        <img src="/logo.png" alt="logo" class="logo-icon">
        <span class="logo-text">GestMaquette</span>
    </div>

    <div class="nav-separator"></div>

    <ul class="nav-links-main">
        <li><a routerLink="/gestionTags" routerLinkActive="active">Tags</a></li>
        <li><a routerLink="/enseignants" routerLinkActive="active">Enseignants</a></li>
        <li><a routerLink="/ue" routerLinkActive="active">UEs</a></li>
        @if (utilisateur?.role != "SECRETAIRE"){
          <li><a routerLink="/maquettes" routerLinkActive="active">Maquettes</a></li>
        }
    </ul>

    <ul class="nav-links-right">
        <li><a routerLink="/parametres" routerLinkActive="active">Paramètres</a></li>
        @if (utilisateur) {
          <li><div class="user-avatar" [style.background]="getAvatarColor(utilisateur.nomUtilisateur)">
            {{ utilisateur.nomUtilisateur[0] }}
          </div></li>
          <li>
            <div class="user-nom">{{ utilisateur.nomUtilisateur }}</div>
            <div class="user-email"> {{ utilisateur.email }}</div>
          </li>
          <li><a class="nav-deconnexion" (click)="deconnexion()">Déconnexion</a></li>
        }
    </ul>

</nav>
